<a [routerLink]="['/']"> Go to Polls</a> 
<h3>{{tempObj.question}}</h3>

<p>Options: -- Current Num Of Votes: -- Action:(click button to vote) </p>
<h3 *ngFor="let ans of tempArrayTwo">  Options: {{ans.optionsOne}}  votes: {{ans.votesOne}} <button id="vote" (click)="addonevoteOne(ans)" value="Vote"></button></h3>
<h3 *ngFor="let ans of tempArrayTwo">  Options: {{ans.optionsTwo}}  votes: {{ans.votesTwo}} <button id="vote" (click)="addonevoteTwo(ans)" value="Vote"></button></h3>
<h3 *ngFor="let ans of tempArrayTwo">  Options: {{ans.optionsthree}}  votes: {{ans.votesthree}} <button id="vote" (click)="addonevotethree(ans)" value="Vote"></button></h3>
<h3 *ngFor="let ans of tempArrayTwo">  Options: {{ans.optionsFour}}  votes: {{ans.votesFour}} <button id="vote" (click)="addonevoteFour(ans)" value="Vote"></button></h3>