<br>
<a [routerLink]="['/']"> Cancel</a> <br>
<h5>add new poll here:</h5>
<h5>If input not match validation, errors will show as below:(if all is fine, then nothing appear)</h5>
<h5>{{errors.message}}</h5>
<form (submit)="questionsubmit()">
	Question<input type="text" name="aab" width="200" [(ngModel)]="tempQuestion.question">
	Option 1:<input type="text" name="aac" width="200" [(ngModel)]="tempQuestion.optionOne">
	Option 2:<input type="text" name="aac" width="200" [(ngModel)]="tempQuestion.optionTwo">
	Option 3:<input type="text" name="aac" width="200" [(ngModel)]="tempQuestion.optionthree">
	Option 4:<input type="text" name="aac" width="200" [(ngModel)]="tempQuestion.optionFour">
	<button>Cancel</button>
	<input type="submit" name="bbb" value="Create Poll">
</form>