<p>
  HomePage works!
</p>

<a [routerLink]="['/new_poll']"> Create a new Poll</a>
<br>
<br>
<h5>Search Bar: </h5>
<form (keyup)="searchsubmit()" ><input type="text" name="ssa" value="search" [(ngModel)]="authorInSearchBar"></form>
<br>
<br>
<div *ngFor="let ques of tempArray[0]"><div>Name: {{ques.name}}</div>--<a [routerLink]="['/show_poll',ques._id]">Question: {{ques.question}}</a>--<div>Date Post: {{ques.createdAt}}</div><form (submit)="questiondelete(ques._id)"><input type="submit" name="Answer" value="Delete"></form></div> 